@{
    ViewData["Title"] = "Home Page";
}


<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="~/Template/images/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>YÖNETİM ENSTİTÜSÜ</h6>
            <h2><em>Kendi</em> Sınıfın</h2>
            <div class="main-button">
                <div class="scroll-to-section"><a href="#section2">Daha Fazla Keşfet</a></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="features-post">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-pencil"></i>Bütün Dersler</h4>
                        </div>
                        <div class="content-hide">
                            <p>Kaliteli öğretmenlerle dahil olabileceğiniz bütün dersler için</p>
                            <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                            <div class="scroll-to-section"><a href="#section2">Daha Fazla bilgi</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features-post second-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-graduation-cap"></i>Online Sınıflar</h4>
                        </div>
                        <div class="content-hide">
                            <p>Mevcut online sınıflar</p>
                            <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                            <div class="scroll-to-section"><a href="#section3">Detaylar</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features-post third-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-book"></i>Görüşmeler</h4>
                        </div>
                        <div class="content-hide">
                            <p>Gerçek görüşme yapabileceğiniz öğretmenler</p>
                            <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                            <div class="scroll-to-section"><a href="#section4">Daha Fazlası</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section why-us" data-section="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Neden Bilge Koleji</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id='tabs'>
                    <ul>
                        <li><a href='#tabs-1'>Kaliteli Eğitim</a></li>
                        <li><a href='#tabs-2'>En iyi Yönetim</a></li>
                        <li><a href='#tabs-3'>Kaliteli Görüşmeler</a></li>
                    </ul>
                    <section class='tabs-content'>
                        <article id='tabs-1'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/Template/images/choose-us-image-01.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>Kaliteli Eğitim</h4>
                                    <p>Sektörde Kendini kanıtlamış eğitmenlerle çalışıyoruz.</p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-2'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/Template/images/choose-us-image-02.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>İleri seviye</h4>
                                    <p>Yüksek seviye yönetim argumanları</p>

                                </div>
                            </div>
                        </article>
                        <article id='tabs-3'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/Template/images/choose-us-image-03.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>Kaliteli Görüşmeler</h4>
                                    <p>Eğitmenlerimizle birebir görüşme imkanı</p>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section coming-soon" data-section="section3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="continer centerIt">
                    <div>
                        <h4>Yüzlerce öğretmen ve öğrencimizle hizmetimiz devam etmektedir.</h4>
                        <div class="counter">

                            <div class="days">
                                <div class="value">00</div>
                                <span>Days</span>
                            </div>

                            <div class="hours">
                                <div class="value">00</div>
                                <span>Hours</span>
                            </div>

                            <div class="minutes">
                                <div class="value">00</div>
                                <span>Minutes</span>
                            </div>

                            <div class="seconds">
                                <div class="value">00</div>
                                <span>Seconds</span>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>






<section class="section contact" data-section="section6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Öneri ve Şikayetleriniz</h2>
                </div>
            </div>
            <div class="col-md-6">

                <!-- Do you need a working HTML contact-form script?

                            Please visit https://templatemo.com/contact page -->

                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="button">Send Message Now</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d893.7223772230053!2d29.024092141640114!3d41.11024992586484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1661257524237!5m2!1str!2str" width="600" height="422" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>